#search-text-progress,
#search-text-results {
    border: 1px solid #ddd;
    background: #f6f6f6;
}

#search-text-progress {
    padding: 10px;
    border-bottom: 0;
}

#search-text-results {
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
}

#search-text-results .result {
    padding: 10px;
    overflow-wrap: break-word;
}

#search-text-results .alert-danger {
    margin-bottom: 0;
}

#search-text-results .result header {
    font-weight: bold;
}
